In [14]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import LSTM, Dense
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor

In [15]:
data = pd.read_csv("weather.csv")
# Display the DataFrame
data

               Created At  Temperature  Humidity  Rain  Light  Air Quality
0    2023-11-07T05:23:51Z         26.7        53  1019     64         0.13
1    2023-11-07T05:24:35Z         26.2        54  1019     68         0.13
2    2023-11-07T05:24:35Z         26.2        54  1019     68         0.13
3    2023-11-07T05:24:35Z         26.2        54  1019     68         0.13
4    2023-11-07T05:24:35Z         26.2        54  1019     68         0.13
..                    ...          ...       ...   ...    ...          ...
391  2023-11-07T05:58:24Z         24.8        57  1018     54         0.13
392  2023-11-07T05:58:24Z         24.8        57  1018     54         0.13
393  2023-11-07T05:58:24Z         24.8        57  1018     54         0.13
394  2023-11-07T05:58:24Z         24.8        57  1018     54         0.13
395  2023-11-07T05:58:24Z         24.8        57  1018     54         0.13

[396 rows x 6 columns]

In [18]:
# Lựa chọn các cột số cần chuẩn hóa
numeric_columns = ["Temperature", "Humidity", "Rain", "Light", "Air Quality"]
data_to_normalize = data[numeric_columns]

# Chuẩn hóa các cột số
scaler = MinMaxScaler()
data[numeric_columns] = scaler.fit_transform(data_to_normalize)

# Hiển thị dữ liệu sau khi chuẩn hóa
print(data.head(11))

              Created At  Temperature  Humidity  Rain     Light  Air Quality
0   2023-11-07T05:23:51Z     1.000000      0.00   1.0  0.783784          0.7
1   2023-11-07T05:24:35Z     0.736842      0.25   1.0  0.891892          0.7
2   2023-11-07T05:24:35Z     0.736842      0.25   1.0  0.891892          0.7
3   2023-11-07T05:24:35Z     0.736842      0.25   1.0  0.891892          0.7
4   2023-11-07T05:24:35Z     0.736842      0.25   1.0  0.891892          0.7
5   2023-11-07T05:24:35Z     0.736842      0.25   1.0  0.891892          0.7
6   2023-11-07T05:24:35Z     0.736842      0.25   1.0  0.891892          0.7
7   2023-11-07T05:25:05Z     0.736842      0.25   1.0  0.000000          0.0
8   2023-11-07T05:25:05Z     0.736842      0.25   1.0  0.000000          0.0
9   2023-11-07T05:25:21Z     0.736842      0.75   1.0  0.540541          1.0
10  2023-11-07T05:25:21Z     0.736842      0.75   1.0  0.540541          1.0

In [24]:
# Chia dữ liệu thành tập huấn luyện và tập kiểm tra
X = data[["Humidity", "Rain", "Light", "Air Quality"]]
y = data["Temperature"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Tạo mô hình hồi quy tuyến tính
model = LinearRegression()

# Huấn luyện mô hình trên tập huấn luyện
model.fit(X_train, y_train)

# Dự đoán nhiệt độ trên tập kiểm tra
y_pred = model.predict(X_test)

# Đánh giá mô hình
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 0.020303934667043066
R-squared: 0.6476069482588038

In [3]:
data = pd.read_csv("weather.csv")
# Display the DataFrame
datađ

               Created At  Temperature  Humidity  Rain  Light  Air Quality
0    2023-11-07T05:23:51Z         26.7        53  1019     64         0.13
1    2023-11-07T05:24:35Z         26.2        54  1019     68         0.13
2    2023-11-07T05:24:35Z         26.2        54  1019     68         0.13
3    2023-11-07T05:24:35Z         26.2        54  1019     68         0.13
4    2023-11-07T05:24:35Z         26.2        54  1019     68         0.13
..                    ...          ...       ...   ...    ...          ...
391  2023-11-07T05:58:24Z         24.8        57  1018     54         0.13
392  2023-11-07T05:58:24Z         24.8        57  1018     54         0.13
393  2023-11-07T05:58:24Z         24.8        57  1018     54         0.13
394  2023-11-07T05:58:24Z         24.8        57  1018     54         0.13
395  2023-11-07T05:58:24Z         24.8        57  1018     54         0.13

[396 rows x 6 columns]

In [13]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Đọc dữ liệu từ file hoặc bạn có thể sử dụng dữ liệu hiện có
data = pd.read_csv("weather.csv")

# Bước 1: Chuyển đổi cột thời gian sang định dạng datetime
data["Created At"] = pd.to_datetime(data["Created At"])

# Bước 2: Chuẩn hóa các cột số
scaler = MinMaxScaler()
data[["Temperature", "Humidity", "Rain", "Light", "Air Quality"]] = scaler.fit_transform(data[["Temperature", "Humidity", "Rain", "Light", "Air Quality"]])

# Lưu trữ dữ liệu đã chuẩn hóa vào một tệp mới nếu cần
data.to_csv("normalized_data.csv", index=False)

data

,Created At,Temperature,Humidity,Rain,Light,Air Quality
0,2023-11-07 05:23:51+00:00,1.000000,0.00,1.000000,0.783784,0.7
1,2023-11-07 05:24:35+00:00,0.736842,0.25,1.000000,0.891892,0.7
2,2023-11-07 05:24:35+00:00,0.736842,0.25,1.000000,0.891892,0.7
3,2023-11-07 05:24:35+00:00,0.736842,0.25,1.000000,0.891892,0.7
4,2023-11-07 05:24:35+00:00,0.736842,0.25,1.000000,0.891892,0.7
...,...,...,...,...,...,...
391,2023-11-07 05:58:24+00:00,0.000000,1.00,0.998557,0.513514,0.7
392,2023-11-07 05:58:24+00:00,0.000000,1.00,0.998557,0.513514,0.7
393,2023-11-07 05:58:24+00:00,0.000000,1.00,0.998557,0.513514,0.7
394,2023-11-07 05:58:24+00:00,0.000000,1.00,0.998557,0.513514,0.7
395,2023-11-07 05:58:24+00:00,0.000000,1.00,0.998557,0.513514,0.7